@import "./assets/mixins";
@import "./assets/resst";

//navbar
nav {
  margin-bottom: 5rem;
  display: flex;
  ul {
    display: flex;
    li {
      padding: 0.5rem 1rem;
      cursor: pointer;
      color: white;
      @include Tablet {
        color: gray;
      }
    }
    @include Mobile {
      display: none;
    }
  }
}

.title {
  margin-right: auto;
  color: gray;
  font-size: 2rem;
  span {
    color: $main-color;
    @include Tablet {
      color: white;
    }
  }
}

.btn--normal {
  @include btn;
  padding: 0.5rem 1rem;
  background-color: gray;
}

.toggle-menu {
  display: none;
  padding: 0.5rem;
  transition: 0.3s;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 5px;
  &:hover {
    transform: rotate(90deg);
  }
  @include Mobile {
    display: block;
  }
}

.nav-model {
  background-color: #8080807d;
  display: none;
}

.mobile-links {
  padding: 1rem;
  background-color: white;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 50%;
  left: 0;
  li {
    cursor: pointer;
  }
  hr {
    height: 0.5px;
    background-color: $main-color;
    opacity: 0.5;
    width: 20%;
    margin: 1rem 0;
    border: 0.5px solid $main-color;
  }
}

//navbar

//header

header {
  padding: 2rem 5rem;
  position: relative;
  @include Tablet {
    border-radius: 0px 0px 0px 50%;
    background-color: #7cc576;
  }
}

.header__text {
  width: 50%;
  & > * {
    margin-bottom: 2rem;
  }

  button {
    width: fit-content;
    @include Tablet {
      box-shadow: 3px 3px 10px #807e7e;
    }
  }
  & p:first-child {
    color: gray;
    span {
      color: $main-color;
      @include Tablet {
        color: white;
      }
    }
  }
  h1 {
    color: $main-color;
    font-weight: 100;
    font-size: 3.5rem;
    @include Tablet {
      color: white;
    }
  }
  p {
    line-height: 2rem;
    color: #b0b0b0;
    @include Tablet {
      color: white;
    }
  }
  @include Tablet {
    width: 100%;
  }
}

.btn--green {
  @include btn;
  background-color: $main-color;

  border: none;
  cursor: pointer;
}

.header__img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  z-index: -1;
  border-radius: 0px 0px 0px 100%;
  @include Tablet {
    display: none;
  }
  & > * {
    width: 100%;
    border-radius: 0px 0px 0px 100%;
    @include Tablet {
      border-radius: 0px;
    }
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//header

//deals
.grid {
  margin-top: 8rem;
  text-align: center;
  h3 {
    margin-bottom: 1rem;
  }

  & > p {
    color: #b0b0b0;

    font-size: 14px;

    line-height: 32px;
    width: 40%;
    margin: auto;
    @include Mobile {
      width: 80%;
    }
  }
}

.grid__items {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 10rem auto;
  @include Mobile {
    flex-direction: column;
    width: 80%;
    align-items: center;
  }
}

.item {
  width: 25%;
}

.item__deal {
  background-color: $main-color;
  border-radius: 5px;
  color: white;
  @include Mobile {
    width: auto;
    margin-bottom: 7rem;
  }
  h4 {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.5;
  }
}

.item__img__deal {
  transform: translate(0px, -60px);

  img {
    width: 50%;
    height: 200px;
  }
}

//care

.item__care {
  h4 {
    color: $main-color;
    margin-bottom: 1rem;
  }
  p {
    color: gray;
  }
  @include Mobile {
    width: 70%;
    margin-bottom: 2rem;
  }
}

.item__img__care {
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
}

//care

//product

.product {
  display: flex;
}

.product__img {
  display: flex;
  flex: 1;
  background-color: $main-color;
  border-radius: 0px 0px 30px 0px;
  div {
    flex: 1;
    img {
      width: 100%;
    }
  }
}

.product__info {
  flex: 1;
  padding: 2rem;
  & > * {
    margin-bottom: 1.5rem;
  }
  h2 {
    color: #707070;
  }
  p {
    color: #b0b0b0;
  }
  .price {
    color: $main-color;
  }
}

//articals

.item__artical {
  & * {
    margin-bottom: 1rem;
    text-align: left;
  }
  h5 {
    color: #5a5454;
  }
  span {
    color: $main-color;
    display: inline-block;
    width: 100%;
  }
  p {
    color: #5a5454;
    opacity: 0.5;
    text-align: left;
  }
  @include Mobile {
    width: 70%;
    margin-bottom: 2rem;
  }
}

.item__img__artical {
  img {
    width: 100%;
  }
}

//cons

.consultation {
  background-color: #7cc576;

  padding: 4rem;
  text-align: center;
  color: white;
  p {
    font-size: 2rem;
    font-weight: 100;
    line-height: 38px;
  }
}

//review

.item__review {
  text-align: left;
  & > * {
    margin-bottom: 0.5rem;
  }
  span {
    color: $main-color;
    display: inline-block;
    width: 100%;
  }
  p {
    color: #747474;

    line-height: 28px;
  }

  @include Mobile {
    width: 70%;
    margin-bottom: 2rem;
  }
}

.review__stars {
  color: gray;
}

.checked {
  color: #fd6921;
}

//news

.newsletter {
  background-color: #7cc576;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  h2 {
    color: #ffffff;

    font-size: 3rem;

    // Text style for "Sign up fo"

    font-weight: 100;
  }
  button {
    height: fit-content;
    border: none;
    cursor: pointer;
  }
  @include Mobile {
    flex-direction: column;
    & > * {
      margin-bottom: 2rem;
    }
  }
}

//footer

footer {
  margin-top: 5rem;
  p {
    text-align: center;
  }
  hr {
    background-color: $main-color;
    background-image: none;
  }
  span {
    color: $main-color !important;
  }
}

.website__info {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  @include Mobile {
    flex-direction: column;
    & > * {
      margin-bottom: 5rem;
    }
  }
  & > * {
    flex: 1;
  }
  li {
    margin-bottom: 2rem;
    color: #4b647e;
  }
}

.first {
  color: #747474;
  font-size: 1.5rem;
}

.website__review {
  & > * {
    margin-bottom: 1rem;
  }
  p {
    color: #747474;
  }
  .review__stars {
    text-align: center;
  }
}

.social__media {
  display: flex;
  justify-content: space-evenly;
  i {
    padding: 10px;
    font-size: 10px;
    background-color: $main-color;
    color: white;
    border-radius: 50%;
  }
}
