//variables

$main-color: #7cc576;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

li {
  list-style: none;
}

hr {
  margin: 2rem auto;
  width: 10%;
  height: 3px;
  border: none;
  background-image: linear-gradient(to right, white, #7cc576);
}
