//variables

$main-color: #7cc576;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}
